@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>On this site you can generate a wizard name for your game character.</h2>
    <p>Go to the <a asp-page="/NameGenerator">Name Generator</a> page.</p>
</div>
